:root {
    --width-game: 60vh;
    --gap: calc(var(--width-game)/90);
    --border: calc(var(--gap) * 0.6);
    --width-board: calc(var(--width-game)/3 - 2*var(--gap));
    --width-cell: calc(var(--width-board)/3 - var(--gap));
}

#game,
.board {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
}

#game,
.board,
.cell {
    aspect-ratio: 1;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#container {
    text-align: center;
}

#game {
    text-align: center;
    width: var(--width-game);
    gap: var(--gap);
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.board {
    background-color: #ddd;
    gap: calc(var(--gap)/2);
    width: var(--width-board);
    border: var(--border) solid transparent;
}

.cell {
    width: var(--width-cell);
    background-color: #eee;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.cell.teleport {
    background-color: #cfc
}
#container:has(#showDanger:checked) .cell.danger, .rules .danger {
    background-color: #fcc
}

.cell.noughts,
.board.noughts {
    background: url("./noughts.svg");
    background-size: 100%;
    background-color: #874400;
}

.cell.crosses,
.board.crosses {
    background: url("./cross.svg");
    background-size: 100%;
    background-color: #1a5ea1;
}

body.noughts {
    background-color: #fff0e1;
}

body.crosses {
    background-color: #e6f2ff;
}

.noughts .board.selected {
    border-color: #d66b00;
}

.crosses .board.selected {
    border-color: #0068cf;
}

.board.noughts .cell,
.board.crosses .cell {
    display: none;
}


.cell.crosses .cellTag,
.cell.noughts .cellTag {
    display: none;
}

h1 {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

label {
    display: inline-block;
}

input {
    background-color: white;
}

.rules .right {
    text-align: right;
}
.rules .right .cell {
    float: right;
    margin-left: 1rem;
}
.rules .left .cell {
    float: left;
    margin-right: 1rem;
}

.hidden {
    display: none
}